.about-us {
    background-color: var(--extra-background-color);
    padding: 90px 0 0;
}
.about-us h4 {
    margin-top: 20px;
}
.about-us p {
    margin-top: 25px;
    color: var(--extra-main-text-color);
    font-size: 17px;
}
.about-us ul {
    margin-top: 22px;
    padding-left: 16px;
}
.about-us ul li {
    margin-bottom: 16px;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 14px;
    letter-spacing: 0.896px;
    line-height: 19.6px;
}
.about-us .button {
    margin: 20px 0;
}
.about-us .about-us__wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.about-us__decoration-wave {
    background: url('../img/about-changing-color-wave.png');
    background-size: cover;
    background-position: 0 0;
    height: 150px;
}
.about-us__carousel {
    margin-top: 130px;
    padding: 0 40px;
    position: relative;
}
.about-us__carousel-card {
    background-color: var(--main-background-color);
    border-top: 4px solid var(--accent-color);
    border-radius: 5px;
    padding: 24px;
    height: 430px;
    box-shadow: 0px 0px 25px #e6e6e6;
}
.about-us__carousel-slide {
    display: grid;
            grid-template-columns: 1fr;
}
.carousel-card__icon {
    background-color: var(--light-accent-color);
    padding: 15px;
    display: inline-block;
    border-radius: 50px;
    width: 90px;
}
.about-us__carousel-btn-prev {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 28px;
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50px;
}
.about-us__carousel-btn-prev img {
    position: absolute;
    top: 5px;
    left: 0px;
    width: 20px;
}
.about-us__carousel-btn-next {
    position: absolute;
    z-index: 5;
    top: 50%;
    right: 28px;
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50px;
}
.about-us__carousel-btn-next img {
    position: absolute;
    top: 5px;
    right: 0px;
    width: 20px;
}
.about-us__carousel-card {
    position: relative;
}
.about-us__carousel-card h5 {
    margin-top: 20px;
}
.about-us__carousel-card p {
    margin-top: 20px;
    position: relative;
}
.about-us__carousel-card a {
    position: absolute;
    bottom: 25px;
    text-decoration: none;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.11px;
    line-height: 19.8px;
    color: rgb(86, 86, 86);
}
@media (min-width:900px ) {
    .about-us .about-us__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }
    .about-us__info, .about-us__frame {
        flex: 1;
    }
}