.about-us {
    background-color: var(--extra-background-color);
    padding: 90px 0 0;
}
.about-us h4 {
    margin-top: 20px;
}
.about-us p {
    margin-top: 25px;
    color: var(--extra-main-text-color);
    font-size: 17px;
}
.about-us ul {
    margin-top: 22px;
    padding-left: 16px;
}
.about-us ul li {
    margin-bottom: 16px;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 14px;
    letter-spacing: 0.896px;
    line-height: 19.6px;
}
.about-us .button {
    margin: 20px 0;
}
.about-us .about-us__wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.carousel-card__icon img{
    width: 60px;
    height: 60px;
}
.about-us__decoration-wave {
    background: url('../img/about-changing-color-wave.png');
    background-size: cover;
    background-position: 0;
    height: 10vw;
}
@media (min-width:900px ) {
    .about-us .about-us__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }
    .about-us__info, .about-us__frame {
        flex: 1;
    }
}