@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Lora:wght@700&family=Source+Sans+3:wght@400;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #191c18;
}
:root {
    scroll-behavior: smooth;
    --footer-color: rgb(13,60,0);
    --footer-text-color: #fff;
    --main-dark-color: #0d3c00;
    --main-text-color: #191c18;
    --main-button-color: #79a207;
    font-family: 'Source Sans 3', sans-serif;
    
}
body{
    min-width: 320px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}
img {
    display: block;
    max-width: 100%
}
.carousel-card__icon img{
    width: 60px;
    height: 60px;
}
h1, h2 {
    position: relative;
}
h1 span, h2 span {
    color: var(--main-button-color);
    letter-spacing: 2.8px;
    font-size: 14px;
    line-height: 20.02px;
    padding-left: 20px;
    padding-right: 3px;
}
h1::before, h2::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 1.5px;
    background-color: var(--main-button-color);
    border-radius: 50px;
    top: 9px;
}
h1::after, h2::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 1.5px;
    background-color: var(--main-button-color);
    border-radius: 50px;
    top: 9px;
}