body.lock{
    overflow: hidden;
}
.header {
    padding:  10px;
    min-width: 320px; 
}
.header .container{
    display: flex;
    flex-direction: column;  
}
.header .container .container__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.header__logo{
    flex: 0;
    margin: 30px 0;
}
.header__logo img {
    min-width: 200px;
}
.header__nav {
    display: none;
}
.header__nav.active{
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
}
.header__nav ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 0;
}
.header__nav ul li{
    list-style-type: none;
    font-size: 26px;
    align-self: center;
}
.header__nav ul li a{
    text-decoration: none;
    color: var(--main-text-color);
}
/* Бургер*/
.header__burger {
    display: flex;
    flex: 1;
    position: relative;
    max-width: 20px;
    height: 18px;
    margin-top: 16px;
    cursor: pointer;
}
.header__burger span{
    background-color: var(--main-text-color);
    width: 100%;
    height: 2px;
    top: 8px;
    border-radius: 50px;
    position: absolute;    
    transform: scale(1);
    transition: all 0.2s;
}
.header__burger:before {
    content: '';
    background-color: var(--main-text-color);
    position: absolute;
    width: 100%;
    height: 2px;
    top: 0px;
    border-radius: 50px;
    transition: all 0.2s;
}
.header__burger:after {
    content: '';
    background-color: var(--main-text-color);
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0px;
    border-radius: 50px;    
    transition: all 0.2s;
}
.header__burger.active span{
    position: absolute;
    transform: scale(0);
}
.header__burger.active:before {
    content: '';
    left: 0;
    top: 50%;
    transform: rotate(45deg);
}
.header__burger.active:after {
    content: '';
    left: 0;
    top: 50%;
    transform: rotate(-45deg);
}

@media ( min-width: 900px){
    body.lock{
        overflow: visible;
    }
    .header__burger {
        display: none;
    }
    .header .container{
        display: flex;
        flex-direction: row;   
        justify-content: space-between;
    }
    .header__nav{
        position: static;
        display: flex;
        align-self: center;
        padding-top: 25px;
        width: max-content;
    }
    .header__nav.active{
        justify-content: end;
        overflow: visible;
        height: auto;
    }
    .header__nav ul {
        display: flex;
        flex-direction: row;
        gap: 15px;
        width: max-content;
       
    }
    .header .container .container__wrapper{
        flex: 0;  
    }
    .header .container .container__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;   
    }
    .header__nav ul li{
        font-size: 18px;
    }
}