.home-page {
    background: url('../img/home-page-img.png');

}
.home-page h1 {
    padding-top: 130px;
    font-size: 14px;
}
.home-page h3 {
    color: #0d3c00;
    font-family: 'Lora', serif;
    font-size: 48px;
    line-height: 52.8px;
    margin-top: 35px;
}
.home-page p {
    margin-top: 35px;
    font-size: 18px;
}
.home-page__buttons{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    padding-bottom: 130px;
}
@media ( min-width: 768px){
    .home-page__buttons{
        margin-top: 25px;
        display: flex;
        flex-direction: row;
        padding-bottom: 130px;
    }
}